:root {
    --Chocolate : #CC6921;
    --Tranquil : #E5F1F0;
    --MidnightExpress : #14111F;
    --BlueViolet : #AE3CE2;
    --VividViolet : #79309E;
    --CeruleanBlue : #2B2EAD;
    --Kournikova : #FACC47;
    --SummerSky : #22B4EC;


    --ChocolateLO : #CC692120;
    --TranquilLO : #E5F1F020;
    --MidnightExpressLO : #14111F20;
    --BlueVioletLO : #AE3CE220;
    --VividVioletLO : #79309E20;
    --CeruleanBlueLO : #2B2EAD20;
    --KournikovaLO : #FACC4720;
    --SummerSkyLO : #22B4EC20;
}